*{
    background-color:burlywood;
}
#home{
    background-image: url(https://image.shutterstock.com/image-illustration/python-coding-language-sign-on-260nw-1389877559.jpg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    transition: .5s;
    text-align: left;
    overflow: auto;
}
.navbar ul li a{
    text-decoration: indianred;
    color: white;
}  
.navbar ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 50px;
    font-size: 24px;
    font-family: sans-serif;
    cursor: pointer;
    border-radius: 10px;
    transition: .5s; 
}
.navbar ul li:hover{
    background-color: orange;
}
ul li{
    font-size: 24px;
    margin-left: 20px;
}

 .projects{
     margin-top: 100px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px
    
}

.footer{
    background: #343a40;
    color: #fffafa;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    padding-top: 30px;
    border box: black;
}    